*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}

nav{
    display: flex;
    box-sizing: border-box;
}

ul{
    display: flex;
    background-color: #fff;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
    height: 2em;
    font-size: 20px;
    cursor: pointer;
}
ul li{
    list-style: none;
}

li:hover{
    background-color: #bfbbbb;
}
.loading-anime{
    display: grid;
    place-items: center;
    height: 100vh;
}

.loading div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
    background-color: #ffffff;
    transform: scale(0);
    animation: anime 1.5s ease-in-out infinite;
}

.loading div:nth-child(0){
    animation-delay: 0s;
}
.loading div:nth-child(1){
    animation-delay: 0.2s;
}
.loading div:nth-child(2){
    animation-delay: 0.4s;
}
.loading div:nth-child(3){
    animation-delay: 0.6s;
}
.loading div:nth-child(4){
    animation-delay: 0.8s;
}
.loading div:nth-child(5){
    animation-delay: 1s;
}
.loading div:nth-child(6){
    animation-delay: 1.2s;
}
.loading div:nth-child(7){
    animation-delay: 1.4s;
}
.loading div:nth-child(8){
    animation-delay: 1.6s;
}
@keyframes anime{
    0%, 100%{
        transform: scale(0.5);
        background-color: #28ff02;
    }
    40%{
        transform: scale(1);
        background-color: #00f857;
    }
    50%{
        transform: scale(1);
        background-color: #02eddd;
    }
}